.wrapper{
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

li {
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
    opacity: .8;
}
li>div>
    
button {
padding: 10px 5px;
background: #ccc;
color: #000;
opacity: .8;
width: 150px;
margin: 0 auto;
border: none;
display: block;

}

body {
    font-size: 14px;
    background-image: linear-gradient(to bottom right,#5cc8ff 0,#d63c6b);
    max-height: 100vh;
    overflow: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 20px;
}